<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="http://localhost:8090/patient/history">Patient History</a>&nbsp;|&nbsp;
			<a href="http://localhost:8090/patient/list">Patient List</a>&nbsp;|&nbsp;
			<a href="http://localhost:8080/visit/list">Visit List</a>&nbsp;|&nbsp;
			<a href="http://localhost:8081/note/list">Note List</a>&nbsp;|&nbsp;
		</div>
	</div>
	<div class="row"><h2>Visit List</h2></div>
	<div class="row">
		<a href="/visit/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Doctor Name</th>
					<th>Comment</th>
					<th>Patient ID</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="visit : ${visits}">
					<td style="width: 10%" th:text="${visit.id}"></td>
					<td th:text="${visit.date}"></td>
					<td th:text="${visit.doctorName}"></td>
					<td th:text="${visit.comment}"></td>
					<td th:text="${visit.patientId}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/visit/update/{id}(id=${visit.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/visit/delete/{id}(id=${visit.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>